@model IEnumerable<aspnetcore_supermercado.Models.Venda>
@{
    Layout = "_LayoutAdmin";
}

<script>
    $(document).ready( function () {
    $('#tbvendas').DataTable({
        "info":false,
        "language":{
            "lengthMenu":"Mostrando _MENU_ registros por página",
            "zeroRecords":"Nenhum registro encontrado!",
            "info":"Mostrando página _PAGE_ de _PAGES_",
            "infoEmpy":"Nenhum registro disponível",
            "search":"Buscar",
            "paginate":{
                "first":"Primeiro",
                "last":"Último",
                "next":"Próximo",
                "previous":"Anterior"
            }
        }
    });
} );
</script>

<h2>Relatório de Vendas</h2>
<hr/>


<table id="tbvendas" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Data</th>
            <th>Total</th>
            <th>Valor Pago</th>
            <th>Troco</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var venda in Model)
        {
            <tr>
                <td>@venda.Id</td>
                <td>@venda.Data</td>                
                <td>@venda.Total</td>
                <td>@venda.ValorPago</td>
                <td>@venda.Troco</td>
            </tr>
        }
    </tbody> 

</table>

